Flask>=1.0,<=1.1.2
build-essential
libssl-dev
libffi-dev
python3-dev
postgresql
postgresql-contrib
libpq-dev
postgresql-client
postgresql-client-common
psycopg2
psycop2-binary
python-requests
requests
python-unicode
python-unidecode
python3-unidecode
setuptools
unidecode
python3-bs4
beautifulsoup4
python-html5lib
python-lxml
lxml